{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:node/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "off",
    "spaced-comment": "off",
    "no-console": "off",
    "consistent-return": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "no-process-exit": "off",
    "no-param-reassign": "off",
    "no-return-await": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "node/no-unsupported-features/es-syntax": "off",
    "import/extensions": "off",
    "import/first": "off",
    "import/no-extraneous-dependencies": "off",
    "node/no-unpublished-import": "off",
    "no-unused-vars": "off"
  }
}
